<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Aura - Mapa en Vivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="map-container">
    <!-- Usamos *ngFor (sintaxis de NgModule) -->
    <div
      *ngFor="let local of locales"
      class="aura-dot"
      [style.top]="local.top"
      [style.left]="local.left"
      [style.color]="getColor(local.aura)"
      (click)="handleLocalClick(local)">
      <div class="aura-dot-inner" [title]="local.nombre">
        <ion-icon [name]="local.aura === 'Fiesta Total' ? 'flame' : (local.aura === 'Animado' ? 'pulse' : 'water')"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
